
html, body {
  height: 100%;
  overflow: auto;
}
.row {
  margin-top: 1% !important;
  height: 90%;
  width: 100%;
}
.list-group {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px !important;
  overflow-y: auto;
  height: 100%;
  scrollbar-width: thin;
}
.tab-pane {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  height: 100%;
}
.tab-content {
  height: 100% !important;
}
.chat {
  overflow-y: auto !important;
  scrollbar-width: thin;
  padding: 0 0.5rem 0 0.5rem !important;
  height: calc(90% - 2rem) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column-reverse;
}
.user {
  float: right;
}
.profile {
  float: left;
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.input-group {
  align-items: center !important;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  white-space: pre-line;
  overflow-y: auto !important;
  scrollbar-width: thin;
  width: calc(100% - 2rem);
}
.form-control:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0);
}
.container {
  padding: 0;
  height: 100%;
}
.profile_info {
  height: 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: auto !important;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.message_box {
  width: 100%;
  height: auto !important;
  margin-bottom: 1rem;
}
p {
  white-space: pre-line;
  margin: 0;
  overflow-wrap: break-word;
}
.message {
  white-space: pre-line;
  margin: 0;
  overflow-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  width: auto;
  max-width: 85%;
  min-width: 5%;
}
#start {
  border: none;
  width: 100% !important;
  max-width: none;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.col-4, .col-8 {
  height: 100%;
}
.col-4 {
  position: relative;
  height: 100%;
  padding: 0;
}
.list-group-item {
  border-right: 0px;
  border-top: 0px;
  background-color: transparent;
}
.list-group-item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 4.5px !important;
 }

.list-group-item:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
#navbarMenuLink {
  color: white !important;
}
#navbarMenuLink:hover {
  color: white !important;
}
.badge {
  float: right;
}
.dropdown-menu {
  right: 3px;
  left: auto !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-item:hover {
  color: #fff !important;
  background-color: #0d6efd !important;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #0d6efd;
}
::-webkit-scrollbar-track {
  background: #0d6efd;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #0d6efd;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



h1 {
  margin: 1rem 0 1rem 0;
  text-align: center;
}
.fre {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  margin: 0 5% 1rem 5%;
  width: auto;
  height: 85%;
}
.col {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0;
  height: 100%;
}
.col:last-child {
  border: none;
}
.list-group-flush {
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}
.first_list {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  height: 89.70%;
}
.second_list {
  height: 100%;
}
.third_list {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  height: 90%;
}
h4 {
  height: 10%;
  margin: 0;
  padding-top: 1rem;
  text-align: center;
}
.icons {
  float: right;
  margin-left: 1rem;
}