{% extends 'base.html' %}

{% block title %}
<link href="static/general.css" rel="stylesheet" type="text/css"/>
<script src="https://kit.fontawesome.com/35d7e61ee3.js" crossorigin="anonymous"></script>
<title>Главная</title>
{% endblock %}
{% block body %}
  <body>
    <header>
      <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Messenger</a>
              <a class="nav-link dropdown-toggle" href="#" id="navbarMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                NAME: {{ current_user.name }}
                ID: {{ current_user.id }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarMenuLink">
              <li><a class="dropdown-item" href="/friends">Friends</a></li>
              <li><a class="dropdown-item" href="#">Friend requests </a></li>
              <li><a class="dropdown-item" href="#">Find friends</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ '/logout' }}">Log Out</a></li>
              </ul>
          </div>
      </nav>
    </header>
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" id="list-profile4-list" data-bs-toggle="list" href="#list-profile4" role="tab" aria-controls="profile4">profile4<span class="badge bg-dark rounded-pill">4</span></a>
      <a class="list-group-item list-group-item-action" id="list-profile1-list" data-bs-toggle="list" href="#list-profile1" role="tab" aria-controls="profile1">Profile1<span class="badge bg-dark rounded-pill">1</span></a>
      <a class="list-group-item list-group-item-action" id="list-profile2-list" data-bs-toggle="list" href="#list-profile2" role="tab" aria-controls="profile2">profile2<span class="badge bg-dark rounded-pill">2</span></a>
      <a class="list-group-item list-group-item-action" id="list-profile3-list" data-bs-toggle="list" href="#list-profile3" role="tab" aria-controls="profile3">profile3<span class="badge bg-dark rounded-pill">3</span></a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="list-profile4" role="tabpanel" aria-labelledby="list-profile4-list">
          <div class="container">
          <div class="container profile_info">
            <p>Profile2</p>
          </div>
          <div class="container chat">
                <div class="container message_box">
                    <div class="message user"><p>chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 </p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo</p></div>
                </div>
                <div class="container message_box">
                    <div class="message user"><p></p>jskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsaj</p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo </p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo </p></div>
                </div>
                <div class="container message_box">
                    <div class="message user"><p>Ночь, улица, фонарь, аптека, Бессмысленный и тусклый свет. Живи ещё хоть четверть века - Всё будет так. Исхода нет. Умрешь - опять начнёшь сначала, И повторится, всё как встарь: Ночь, ледяная рябь канала, Аптека, улица, фонарь.</p></div>
                </div>
                <div class="container message-box"><div class="message" id="start">Начало диалога</div></div>
          </div>
          <div class="input-group msg-field">
          <input type="text" class="form-control" placeholder="Соблаговолите написать письмо.." aria-label="Write a message" aria-describedby="button-addon4">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon4"><i class="fas fa-envelope"></i></button>
          </div>
          </div>
      </div>
      <div class="tab-pane fade" id="list-profile1" role="tabpanel" aria-labelledby="list-profile1-list">
          <div class="container">
          <div class="container profile_info">
              <p>profile4</p>
          </div>
          <div class="container chat">
                <div class="container message_box">
                    <div class="message user"><p>chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 </p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo</p></div>
                </div>
                <div class="container message_box">
                    <div class="message user"><p></p>jskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsaj</p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo </p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo </p></div>
                </div>
                <div class="container message_box">
                    <div class="message user"><p>Ночь, улица, фонарь, аптека, Бессмысленный и тусклый свет. Живи ещё хоть четверть века - Всё будет так. Исхода нет. Умрешь - опять начнёшь сначала, И повторится, всё как встарь: Ночь, ледяная рябь канала, Аптека, улица, фонарь.</p></div>
                </div>
                <div class="container message-box"><div class="message" id="start">Начало диалога</div></div>
          </div>
          <div class="input-group msg-field">
          <input type="text" class="form-control" placeholder="Соблаговолите написать письмо.." aria-label="Write a message" aria-describedby="button-addon1">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon1"><i class="fas fa-envelope"></i></button>
          </div>
          </div>
      </div>
      <div class="tab-pane fade" id="list-profile2" role="tabpanel" aria-labelledby="list-profile2-list">
          <div class="container">
            <div class="container profile_info">
                <p>Profile3</p>
            </div>
            <div class="container chat">
                <div class="container message_box">
                    <div class="message user"><p>chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 </p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo</p></div>
                </div>
                <div class="container message_box">
                    <div class="message user"><p></p>jskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsaj</p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo </p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo </p></div>
                </div>
                <div class="container message_box">
                    <div class="message user"><p>Ночь, улица, фонарь, аптека, Бессмысленный и тусклый свет. Живи ещё хоть четверть века - Всё будет так. Исхода нет. Умрешь - опять начнёшь сначала, И повторится, всё как встарь: Ночь, ледяная рябь канала, Аптека, улица, фонарь.</p></div>
                </div>
                <div class="container message-box"><div class="message" id="start">Начало диалога</div></div>
            </div>
            <div class="input-group msg-field">
            <input type="text" class="form-control" placeholder="Соблаговолите написать письмо.." aria-label="Write a message" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-envelope"></i></button>
            </div>
            </div>
      </div>
      <div class="tab-pane fade" id="list-profile3" role="tabpanel" aria-labelledby="list-profile3-list">
            <div class="container">
            <div class="container profile_info">
                <p>Profile1</p>
            </div>
            <div class="container chat">
                <div class="container message_box">
                    <div class="message user"><p>chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 chat2 </p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo</p></div>
                </div>
                <div class="container message_box">
                    <div class="message user"><p></p>jskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsajjskadfjasdjfasjdflkajsdklfjaslkdfjlaksdjfk;kjfklsjfdflkasjdfklsaj</p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo </p></div>
                </div>
                <div class="container message_box">
                    <div class="message profile"><p>kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo kavo </p></div>
                </div>
                <div class="container message_box">
                    <div class="message user"><p>Ночь, улица, фонарь, аптека, Бессмысленный и тусклый свет. Живи ещё хоть четверть века - Всё будет так. Исхода нет. Умрешь - опять начнёшь сначала, И повторится, всё как встарь: Ночь, ледяная рябь канала, Аптека, улица, фонарь.</p></div>
                </div>
                <div class="container message-box"><div class="message" id="start">Начало диалога</div></div>
            </div>
            <div class="input-group msg-field">
            <input type="text" class="form-control" placeholder="Соблаговолите написать письмо.." aria-label="Write a message" aria-describedby="button-addon3">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon3"><i class="fas fa-envelope"></i></button>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}